/*Overall*/

h1{
    font-family: "roboto";
    font-size: 200px;
    text-align: center;
    font-weight: 700;
}

h2{
    font-family: 'public sans';
    font-weight: 700px;
    font-size: 50px;
    text-align: center;
}

.container{
    border: 1px solid #000000;
    margin-top: 20px;
}

/*colors*/
.color-panel{
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 20px 50px;
    padding: 5px;
    min-height: 100px;
    font-family: 'public sans';
}

.color-label{
    font-size: 30px;
}

.hex-code{
    font-size: 15px;
}

.slate-blue{
    background-color: #3668AC;
    color: #ffffff;
}

.dark-blue{
    background-color: #003A77;
    color: #ffffff
}

.light-blue{
    background-color: #B6DCFF;
    color: #ffffff
}

.dark-gray{
    background-color: #414756;
    color: #ffffff
}

.light-gray{
    background-color: #8d98b5;
    color:#ffffff
}

.black{
    background-color: #000000;
    color: #ffffff
}

/*fonts*/

#first{
    font-family: 'Roboto', sans-serif;

}

#second{
    font-family: 'open sans';
}

#third{
    font-family: 'public sans';
}

.roboto-examples{
    font-family: 'Roboto', sans-serif;
    line-height: 3;
    font-size: 30px;
    list-style: none

}

.open-examples{
    font-family: 'open Sans', sans-serif;
    line-height: 3;
    font-size: 30px;
    list-style: none
}

.public-examples{
    font-family: 'public sans', sans-serif;
    line-height: 3;
    font-size: 30px;
    list-style: none
}

.regular{
    font-weight: 400px
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.examples{
    line-height: 3;
    list-style: none;
}

.font{
    text-decoration: underline;
    font-size: 40px;
    margin-left: 10px;
}

.desc{
    font-family: 'public sans';
    font-size: 20px;
}

#main{
    text-align: left;
}

#sub{
    text-align: left;
}

#para{
    font-weight: 400px;
    font-size: 18px;
    font-family: 'public sans';
}

.text{
    margin-left: 10px;
}
